<!DOCTYPE html>
<html lang="en">
<head>
    <title>二手设备共赢网数据采集后台管理</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/matrix-login.css" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/3.0.2/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/jquery.gritter.css" />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="__PUBLIC__/js/jquery.gritter.min.js"></script>
    <script src="__PUBLIC__/js/matrix.login.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script type="text/javascript">
        $(function(){
            _add_enter_event('password',go_to_login);
        });
        //登录验证
        function go_to_login(){
            var username = _trim_assign($('#username'));
            if(username == ''){
                tip_error('用户名必填!',5);
                return;
            }
            var password = _trim_assign($('#password'));
            if(password == ''){
                tip_error('密码必填!',5);
                return;
            }
            $.ajax({
                dataType: "text",
                type: "POST",
                url: "{:U('home/login/login')}",
                data: {
                    username:username,
                    password:password
                },
                success: function (ret){
                    if(ret=='success'){
                        tip_success('登陆成功!');
                        location.href = "{:U('home/index/index')}";
                    }else{
                        tip_error(ret,5);
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div id="loginbox">
        <form id="loginform" class="form-vertical" action="">
            <div class="control-group normal_text">
                <h3><img src="__PUBLIC__/img/logo.png" alt="Logo" /></h3>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" placeholder="用户名" id="username"/>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="密码" id="password" />
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-right"><a class="btn btn-success" id="go_to_login" onclick="go_to_login()">登录</a></span>
            </div>
        </form>
    </div>
</body>
</html>