
<style type="text/css">
    #form-collect .control-label{width: 100px;}
    #form-collect .controls {margin-left: 120px;}
    .img_data{width: 100px;height: 100px;}
    .img_data img{width: 100px;height: 100px;}
</style>

<form class="form-horizontal" id="form-collect">

    <div class="control-group">
        <label class="control-label"><span class="red1">*</span>标题:</label>
        <div class="controls">
            <input class="span5" id="collect_title" type="text" value="{$edit.title}">
        </div>
    </div>

    <neq name="mid" value="27">
        <div class="control-group">
            <label class="control-label"><span class="red1">*</span>联系人:</label>
            <div class="controls">
                <input class="span2" id="contact" type="text" value="{$edit.contact}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"><span class="red1">*</span>联系人电话:</label>
            <div class="controls">
                <input class="span2" id="phone" type="text" value="{$edit.phone}">
                <neq name="edit.phone_img" value="">
                    <small class="red1">参考: </small><img src="{$edit.phone_img}" style="vertical-align:middle;height: 14px;" title="联系人电话图片">
                </neq>
            </div>
        </div>
    </neq>

    <div class="control-group">
        <label class="control-label">地区:</label>
        <div class="controls">
            <select class="span2" id="area1" name="area1" onchange="loadArea()">
                <option value="">请选择</option>
            </select>
            <select class="span2" id="area2" name="area2"></select>
            <input type="hidden" id="area1_name" name="area1_name" value="{$edit.area1}" />
            <input type="hidden" id="area2_name" name="area2_name" value="{$edit.area2}" />
          	<neq name="edit.contact_address" value="">
                <small class="red1">参考: {$edit.contact_address}</small>
            </neq>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><span class="red1">*</span>描述:</label>
        <div class="controls">
            <!-- 加载编辑器的容器 -->
            <script id="collect_content" type="text/plain">{$edit.content}</script>
            <script type="text/javascript">
                var ue_collect_content = _gen_ueditor('collect_content','800','400',{allowDivTransToP:false,autoHeightEnabled:true,minFrameHeight:400});
            </script>
        </div>
    </div>

    <eq name="mid" value="27">
      	<div class="control-group">
            <label class="control-label">图片:</label>
            <div class="controls">
                <small class="red1">如果存在图片,会在此处显示,点击可查看</small>
                <table>
                    <tr>
                    <volist name="img_data" id="vo">
                        <td>
                            <div class="img_data">
                                <a href="__ROOT__{$vo.img}" target="_blank" title="点击查看"><img src="__ROOT__{$vo.img}"></a>
                            </div>
                        </td>
                        <php>if($i%7 == 0){echo '</tr>';}</php>
                    </volist>
                </table>
            </div>
        </div>
      	
        <div class="control-group">
            <label class="control-label">附件:</label>
            <div class="controls">
                <small class="red1">如果存在附件,会在此处显示,点击可下载或查看</small>
                <table>
                    <volist name="file_data" id="vo">
                        <tr>
                            <td>
                                <a href="__ROOT__{$vo.url}" target="_blank" title="点击下载或查看">{$vo.name}</a>
                            </td>
                        </tr>
                    </volist>
                </table>
            </div>
        </div>
        <else/>
        <div class="control-group">
            <label class="control-label">图片:</label>
            <div class="controls">
                <small class="red1">如果存在图片,仅采集前三张图片并在此处显示,点击可查看,转化时可修改</small>
                <table>
                    <tr>
                        <volist name="img_data" id="vo">
                            <td>
                                <div class="img_data">
                                    <a href="__ROOT__{$vo.img}" target="_blank" title="点击查看"><img src="__ROOT__{$vo.img}"></a>
                                </div>
                            </td>
                        </volist>
                    </tr>
                </table>
            </div>
        </div>
    </eq>

    <input type="hidden" id="collect_id" value="{$edit.id}">
    <input type="hidden" id="collect_mid" value="{$mid}">

</form>

<div class="form-actions pop_win_buttons">
    <a class="btn btn-success" onclick="save_collect()">保存</a>
</div>

<script type="text/javascript">

    $(function(){
        loadKeyData(0,'area1',$('#area1_name').val());
    });

    function save_collect(){

        var data = {};

        data.title = _trim_assign($('#collect_title'));
        if(data.title==''){
            tip_error('标题必填!',5);
            return;
        }
      
      	data.mid = $('#collect_mid').val();
        if(data.mid!=27)
        {
            data.contact = _trim_assign($('#contact'));
            if(data.contact==''){
                tip_error('联系人必填!',5);
                return;
            }

            data.phone = _trim_assign($('#phone'));
            if(data.phone==''){
                tip_error('联系人电话必填!',5);
                return;
            }
        }

        var area2 = $('#area2').val();
        if(area2){
            data.area_id = area2;
        }else{
            data.area_id = $('#area1').val();
        }

        data.id = $('#collect_id').val();
        data.content = ue_collect_content.getContent();
        if($.trim(data.content)==''){
            tip_error('描述必填!',5);
            return;
        }

        if(op_start()){
            $.ajax({
                dataType: "text",
                type: "POST",
                url: "{:U('home/collect/save_collect')}",
                data: data,
                success: function (ret){
                    if(ret=='success'){
                        tip_success('操作成功!');
                        if(_ma_pop_callback['{$Think.post.moveable_pop_mark}']){
                            _ma_pop_callback['{$Think.post.moveable_pop_mark}']();
                            _close_moveable_popup();
                        }
                    }else{
                        tip_error('操作失败',5);
                    }
                }
            }).always(function(){
                op_end();
            });
        }
    }

</script>