
<form class="form-horizontal">

    <div class="control-group">
        <label class="control-label">原密码:</label>
        <div class="controls">
            <input class="span2" id="ori_password" type="text" value="">
            <small>留空,则不修改</small>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">新密码:</label>
        <div class="controls">
            <input class="span2" id="new_password" type="text" value="">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">确认密码:</label>
        <div class="controls">
            <input class="span2" id="confirm_password" type="text" value="">
        </div>
    </div>

</form>

<a class="btn btn-success" onclick="save_password()">保存</a>

<script type="text/javascript">

    function save_password(){

        var ori_password = $.trim($('#ori_password').val());

        if(ori_password == '')
        {
            tip_success('保存成功');
            _tab_close_current_and_reload_opener();
        }
        else
        {
            var new_password = $.trim($('#new_password').val());
            var confirm_password = $.trim($('#confirm_password').val());

            if(new_password == '')
            {
                tip_error('新密码不能为空',5);
                return;
            }
            else if(new_password != confirm_password)
            {
                tip_error('新密码和确认密码必须相同',5);
                return;
            }

            if(op_start()){
                $.ajax({
                    dataType: "text",
                    type: "POST",
                    url: "{:U('home/index/save_password')}",
                    data: {
                        ori_password:ori_password,
                        new_password:new_password,
                        confirm_password:confirm_password
                    },
                    success: function (res){
                        if(res=='success'){
                            tip_success('保存成功');
                            _tab_close_current_and_reload_opener();
                        }else if(res){
                            tip_error(res,5);
                        }else{
                            tip_error('保存失败',5);
                        }
                    }
                }).always(function(){
                    op_end();
                });
            }
        }
    }

</script>